@charset "utf-8";
/* CSS Document */
body{
	margin:0;
	font-family:"微软雅黑"；
}
a{
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}
.floatR{
	float:right;
}
.floatL{
	float:left;
}
.btn_gray_L{
	display: block;
	width: 114px;
	height: 50px;
	background: url(../images/btn_L_2.png) no-repeat;
	background-position: -1px -1px;
	font-size: 14px;
	line-height: 48px;
	text-align: center;
	text-indent: 8px;
	letter-spacing: 8px;
	cursor: pointer;
}
.btn_gray_L:hover {
	background-position: -1px -65px;
}
.btn_gray_L:active {
	background-position: -1px -129px;
}
.btn_blue_L{
	display: block;
	width: 114px;
	height: 50px;
	background: url(../images/btn_L_2.png) no-repeat;
	background-position: -132px -1px;
	font-size: 14px;
	line-height: 48px;
	text-align: center;
	text-indent: 8px;
	letter-spacing: 8px;
	color: #fff;
	cursor: pointer;
}
.btn_blue_L:hover {
	background-position: -132px -65px;
}
.btn_blue_L:active {
	background-position: -132px -129px;
}
.clearfloat{
	clear:both;
}
.button_S{
	width:73px;
	user-select: none;
	cursor: pointer;
	overflow: hidden;
	zoom: 1;
	height: 32px;
	line-height: 30px;
	padding-left: 4px;
	text-align: center;
	color: #777;
	background: url('../images/btn_S_1.png') left 0 no-repeat;
}
.button_S:hover{
	background-position: 0px -50px;
}
.button_S:active{
	background-position: 0px -100px;
}



.btn_sty1{
	background: #8ab923;
	background-color: #9dcc4a;
	background-image: -moz-linear-gradient(top,#FCB136,#f39800);
	background-image: -ms-linear-gradient(top,#FCB136,#f39800);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#FCB136),to(#f39800));
	background-image: -webkit-linear-gradient(top,#FCB136,#f39800);
	background-image: -o-linear-gradient(top,#FCB136,#f39800);
	background-image: linear-gradient(top,#FCB136,#f39800);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FCB136', endColorstr='#f39800', GradientType=0);
	border: 1px solid #e79101;
	color: #fff!important;
	min-width: 78px;
	width: auto;
	_width: 78px;
	box-shadow: 0 1px 0 rgba(255,255,255,.5) inset,0 1px 0 rgba(0,0,0,.2);
	text-align: center;
	min-width: 90px;
	font-size: 14px;
	text-decoration: none!important;
	padding: 1px;
	font-weight: 400;
	line-height: 28px;
	border-radius: 3px;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Microsoft Yahei","SimSun";
}

.btn_sty1:hover{
	background-image: -webkit-linear-gradient(top,#FAC877,#F7AC2F);
}

.btn_search {
	text-align: center;
	min-width: 90px;
	font-size: 17px;
	text-decoration: none!important;
	padding: 1px;
	font-weight: 400;
	line-height: 32px;
	border-radius: 3px;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	margin-left: 10px;
}