/* search_input */
.search_input{
	width: 550px;
	height: 20px;
	padding: 9px 7px;
	font: 16px arial;
	border: 1px solid #cdcdcd;
	border-color: #9a9a9a #cdcdcd #cdcdcd #9a9a9a;
	vertical-align: top;
	outline: none;
}
.search_box{
	position:relative;
	padding: 15px 0px;
}
.search_dropdown{
	display:none;
	height: 300px;
	position: absolute;
	background: #fff;
	width: 550px;
	border: 1px solid #cdcdcd;
	border-color: #9a9a9a #cdcdcd #cdcdcd #9a9a9a;
	padding: 1px 7px 9px 7px;
	top: 54px;
	z-index:20;
	-moz-user-select: none;  
	-webkit-user-select: none;  
	-ms-user-select: none; 
}
.search_drop_title{
	float:left;
	padding: 3px;
	color: #C57D11;
	font-weight: 700;
}
.search_drop_ele{
	float:left;
	padding: 2px 7px 2px 7px;
	margin-left:10px;
	cursor:pointer;
	border:1px solid white;
}
.search_drop_ele:hover{
	border:1px solid red;
}
.search_drop_row{
	line-height: 30px;
}
.seperator_line{
	clear:both;
	border-top:1px dashed #bbb;
}
.search_dropdown .selected{
	border: 1px solid #E4393C;
	background: #F05E61;
	color:#fff;
}

/* jobTypeBox */
.jobTypeBox{
	height: 38px;
	line-height: 40px;
	clear: both;
	background-color: #edde8b;
	margin: 10px auto 0;
	width: 700px;
	padding-top: 3px;
}
.jobTypeTab{
	float: left;
	display: inline;
	border: 1px solid #edde8b;
	border-bottom-width: 0;
	height: 37px;
	line-height: 34px;
	position: relative;
	padding: 0 25px;
	cursor: pointer;
	font-size: 14px;
	color: #666;
}
.jobTypeBox .selected{
	color: #000;
	background-color: white;
}

/*job list*/
.jobRow{
	clear: both;
	border-bottom: 1px solid #efefef;
	height: 100px;
	padding: 20px 0px 20px 0px;
}
.jobRowLeft{
	float: left;
	display: inline;
	width: 60px;
	height: 60px;
	margin-left: 5px;
}
.jobRowRight{
	float: left;
	width: 600px;
	height: 100px;
	margin-left:10px;
	font-size: 13px;
	color: #666;
	line-height: 22px;
}
.jobListBox .jobName{
	font-size: 15px;
	color: #687BE4;
	font-weight: bold;
	cursor:pointer;
}
.jobListBox .perName {
	color: #222;
}
.brprice {
	color: #fe4028;
}
.jobDescript{
	overflow: hidden;
	height: 44px;
}

/*postJob page*/
.pageHeader{
	font-size: 24px;
	line-height: 34px;
	height: 34px;
	padding: 18px 0 23px 0;
	font-weight: bold;
	color: #333;
	border-bottom: 2px solid #ddd;
}
table.t_value th {
	line-height: 20px;
	font-weight: normal;
	color: #555;
	vertical-align: top;
	text-align: right;
	font-size: 14px;
	padding: 15px 10px 4px 8px;
}
.textarea, input[type=text], input[type=password] {
	border: 1px solid #cccccc;
	border-radius: 3px;
	font-size: 14px;
	width: 330px;
	padding: 10px;
	color: #333333;
}

#userinfo .info{
	margin-left:20px;
	margin-bottom: 10px;
}
