@charset "utf-8";
/* CSS Document */
body{
	background: #dbdfeb;
}
.textitem{
	float: left;
}
.textcontent{
	height: 120px;
	width: 100px;
	border: 1px solid #ccc;
	margin-right: 20px;
	padding: 3px;
	overflow: hidden;
	font-size:8px;
	cursor: pointer;
	background:#fff;
	border-radius: 4px;
	box-shadow: 1px 2px 1px rgba(0,0,0,0.072);
}
.textselected{
	border-color:#F60;
}
.textname{
	width: 100px;
	height: 25px;
	padding: 3px;
	text-align:center;
}
#editarea{
	width: 800px;
	height: 800px;
	font-size: 16px;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.072);
}
#edittextname{
	height: 30px;
}
#logout{
	color: #A0B3C0;
	cursor:pointer;
	float:right;
	margin-right:100px;
	width: 75px;
	text-align: right;
	background: url(../images/logout.png) 10px no-repeat;
	background-size: 30px 30px;
}
#logout:hover{
	color:#fff;
}

#welcome{
	color: #D8E3EB;
	float:right;
	margin-right:100px;
	width: 250px;
	text-align: right;
}

#header_box{
	height:45px;
	background:#3155a1;
	position: fixed;
	width: 100%;
	top: 0;
	z-index:99999;
}
#header{
	margin:0 auto;
	width:1020px;
	line-height:45px;
}
.menu_item{
	float:left;
	font-size: 17px;
	width: 100px;
	cursor:pointer;
	text-align: center;
	background: url(../images/line2.png) right no-repeat;
	color: #fff;
}
.menu_item:hover{
	background-color: #486fc3;
}
#center_box{
	margin:0 auto;
	width:1020px;
	margin-top: 45px;
	padding-top: 5px;
}
.input_name{
	width:100px;
	height:22px;
}

.top-nav-profile{
	color: #A0B3C0;
	cursor:pointer;
	float:right;
	width: 100px;
	height: 45px;
}
.top-nav-profile:hover{
	color:#fff;
}
.profile_image{
	position: absolute;
	top: 9px;
	left: 10px;
	width: 25px;
	height: 25px;
	border: 1px solid rgba(0,0,0,.1);
}
.top-nav-userinfo{
	width: 100px;
	display: block;
	text-indent: 46px;
	position: relative;
	color: #A0B3C0;
	text-decoration: none;
}

.l_content_box{
	float: left;
	width: 700px;
	height: 900px;
	background: white;
	padding: 15px 20px;
}

.r_side_box{
	float: right;
	width: 222px;
	height: 900px;
	background: white;
	padding: 15px 20px;
}

.l_menu_box{
	float: left;
	width: 260px;
	height: 900px;
	background: white;
	padding: 15px 0px;
}
.r_content_box{
	float: right;
	width: 700px;
	height: 900px;
	padding: 15px 20px;
	background: white;
}

#footer_box{
	margin-top: 50px;
	height:100px;
	background:#565e82;
	width: 100%;
}
#footer{
	margin: 0 auto;
	width: 960px;
	line-height: 50px;
	color: #eee;
}

.input_name{
	width:100px;
	height:22px;
}

.l_menu_list div{
	padding: 0 20px;
	height: 49px;
	line-height: 49px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.l_menu_list div:hover{
	background-color: #efefef;
	height: 51px;
	line-height: 51px;
	position: relative;
}

.l_menu_list .selected{
	background-color: #efefef;
	height: 51px;
	line-height: 51px;
	position: relative;
}